{
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/styles/app.css",
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
