@theme initial {
  --color-*: initial; /* remove preexisting colours */

  --color-cream: var(--cream);
  --color-sand: var(--sand);
  --color-honey: var(--honey);
  --color-acorn: var(--acorn);
  --color-twig: var(--twig);

  --font-sans: "FOT-Seurat Pro B", sans-serif;
}

:root {
  --cream: #f8f0dc;
  --sand: #f3deb1;
  --honey: #e8c97d;
  --acorn: #74664b;
  --twig: #e6d8b5;
}

@font-face {
  font-family: "FOT-Seurat Pro B";
  src: url("/fonts/FOT-Seurat Pro B.woff2") format("woff2");
}
